*.pyc
*.cache
*~
.coverage
/tests/.coverage.*
/tests/htmlcov
MockRepos/
/.tox
/subproc.pth

addons.make
config.make
notes.md
metadata.json
/ofStateManager*

#IDE files
/.settings
/.project
/.pydevproject

